/* red = #E21221 */
@import url("https://fonts.googleapis.com/css?family=Kanit:300");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 101%;
    overflow: auto;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
}

body {
    background: #202020;
    color: #fff;
    letter-spacing: 0.1rem;
    /* background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.9) 100%,
            rgba(0, 0, 0, 0.65) 100%
        ),
        url("./assets/brokeflix-logo.jpg") no-repeat;

    background-position: top right;
    background-size: cover;
    color: #fff; */
}

/* ====  GENERAL =========
 */
button {
    border-radius: 3px;
    background-color: #db0510;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
}
button:hover {
    /* background-color: #3f3f3f; Green */
    background-color: #333333; /* Green */
    color: white;
    transform: translateY(1px);
}
.no-link-styling {
    text-decoration: none;
    color: inherit;
    transition: all 250ms ease-in-out;
}
.no-link-styling:hover {
    /* color: #808080; */
    color: #db0510;
    transform: translateY(1px);
    /* font-size: 1rem; */
}

span {
    color: #db0510;
}

.error {
    color: #db0510;
}

/* LANDING  ============= */

.landing-background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.9) 100%,
            rgba(0, 0, 0, 0.65) 100%
        ),
        url("./assets/preview-hero.jpg") no-repeat;

    background-position: top right;
    background-size: cover;
    color: #fff;
}
.wrapper {
    padding: 3rem;
}
.uppercase {
    text-transform: uppercase;
}

/* WELCOME PAGE  */
.logo {
    width: 20%;
}

.landing-text-container {
    margin-top: 8rem;
}
.landing-wrapper {
    display: flex;
    justify-content: space-between;
}

.landing-title {
    font-size: 3rem;
}

.landing-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.6rem;
}
.register-button {
    margin-top: 2rem;
    width: 15rem;
}
.signin-button {
    position: absolute;
    top: 55px;
    right: 71px;
    /* float: right; */

    padding: 0.625rem 1.25rem;
}

/* REGISTRATION */
.register-container {
    border-radius: 15px;
    margin-left: 60%;
    /* width: 373px;
    position: relative;
    bottom: -145px;
    left: 90%; */
}
.registration-form {
    border-radius: 10px;
    margin-left: 400px;
    width: 500px;
    height: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.register-input-group {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
}

/* LOGIN  */
#back-register-link {
    margin-top: 2rem;
}
.login-btn {
    margin-top: 2rem;
}
.login-offer {
    margin-top: 2.7rem;
}
input {
    width: 250px;
    border-radius: 20px;
    height: 35px;
    padding-left: 0.7rem;
    font-size: 1rem;
}
label {
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
}

/* LOGGED IN /APP.JS=========================== */

/* HEADER */

.app-background {
    width: 100vw;
    /* height: 100vh; */
    /* position: fixed; */
    height: 100%;
    background: #202020;
    color: #fff;
}
.header-container {
    height: 4.375rem; /*70px*/
    padding: 3rem;
    /* background-color: white; */
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 1000;
}

ul > li {
    list-style: none;
    padding-right: 1.5rem;
    font-size: 0.875rem;
}
.nav-flex-container {
    display: flex;
    width: 82%;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

.ul-flex-container {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 18%;
    margin-right: 1.5rem;
}

.active {
    color: #db1b28;
    font-size: 1.1rem;

    text-decoration: none;
    font-weight: 400;
    transition: all 500ms ease-in;
}

/* TEASER  */
.teasers-list {
    /* width: 600px;
    height: 400px; */
    overflow-x: auto;
    min-width: 100%;
    min-width: 200px;
    /* margin-top: 7rem; */
    display: flex;
    border: 1px solif white;
}
.teasers-list::-webkit-scrollbar {
    display: none;
}
/* .teaser-list-container::before {
    content: "Drama";
} */
.teaser-list-container {
    margin-top: 130px;
    margin-left: 3rem;
}

.teaser-box {
    /* width: 200px; */
    /* min-width: 200px; */
    /* position: absolute; */
    /* width: 100px;
    height: 130px; */
    position: relative;
    padding: 0.2rem;
    display: inline-block;
    cursor: pointer;
    /* border: 1px solid red; */
}
.teaser-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem;
    font-size: 1.3rem;
    background: rgba(0, 0, 0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-out;
}
.teaser-box:hover .teaser-description {
    visibility: visible;
    opacity: 1;
}
/* .teaser-image {
    width: 100%;
} */

/* CAROUSEL ======================*/

#kitties {
    position: relative;
    height: 400px;
    overflow: hidden;
    z-index: 2;
}

.carousel-dots {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 39%;
    flex-direction: row;
    justify-content: center;
}

.carousel-dots div {
    z-index: 10;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 15px;
    border-radius: 50%;
    border: 2px solid white;
}

.carousel-dots div.fill {
    background-color: white;
}

.kitty {
    position: absolute;
    top: 0;
    left: 120px;
    transform: translateX(100%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.kitty.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty img {
    width: 80%;
    height: 117%;
    object-fit: cover;
    /* object-position: 200px; */
    /* object-fit: scale-down; */
    /* object-fit: none; */
}

/* PLAYER  */
.player-flex-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.125rem; /*50px*/
}
.video-description {
    width: 250px;
}
.video-title {
    margin-bottom: 1.25rem; /*20px*/
    color: #db1b28;
    font-size: 1.7rem;
}
svg {
    fill: white;
}

/* === MOVIES  AND  SHOWS  ==== */
.item-list {
    margin-top: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}
.item-card {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.item-details {
    width: 50%;
}
.item-title {
    margin-bottom: 1.25rem;
    color: #db1b28;
}
.item-description {
    line-height: 1.5;
}
.item-voting {
    padding-top: 1rem;
    font-weight: 400;
}

.movie-card:hover .movie-details {
}

/* FAVORITES  */
.favorite-heart {
    top: 253px;
    right: 222px;
    margin-left: 3rem;
    position: relative;
    cursor: pointer;
}

#heart-container > img {
    top: 196px;
    right: 220px;
    margin-left: 3rem;
    position: relative;
    cursor: pointer;
}

.favorites-all {
    margin-left: 3rem;
    display: flex;

    flex-wrap: wrap;
}
.favorite-item {
    margin: 1.3rem;
}
/* .favorite-image {
    width: 75%;
}
.favorite-title {
    width: 75%;
} */
